---
layout: default
menu: Home
css: ['index.css', 'link-card.css']
---
<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <h1 class="fw-bold"><span style="font-family: 'Quicksand'">atelier NZML</span> </h1>
                <!-- <div id="jumbotron-meta-info" class="mb-3">
                    atelier NZMLは出身・居住地・勤務先も違うメンバーによって活動しているグループです。<br>
                    さまざまなことに挑戦し、成果をみなさんに共有するためのページです。
                </div> -->
                <div class="links p-3">
                    <div class="row">
                        <a href="/nazoml" class="link-card">
                            <h4><i class="fa-regular fa-circle-question"></i>&nbsp;NaZoML (なぞみる)</h4>
                            <p>
                                謎解きの問題をお届けします
                            </p>
                        </a>
                        <a href="/minecraft" class="link-card minecraft">
                            <h4><i class="fa-solid fa-gamepad"></i>&nbsp;Minecraft</h4>
                            <p>
                                マインクラフトの配布マップやTIPsをお届けします
                            </p>
                        </a>
                        <a href="/nzmlynx" class="link-card nzmlynx">
                            <h4><i class="fa-solid fa-link"></i>&nbsp;NZMLyNx</h4>
                            <p>
                                YouTubeなど外部プラットフォームでの活動のまとめ
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="recentNews" class="content py-3 recent-news">
    <div class="container d-flex justify-content-center">
        <div class="row w-100">
            <div class="col-12 col-md-8">
                <h3>News</h3>
                <div class="py-3">
                    {% for post in site.posts limit: 3 %}
                    <div class="d-flex justify-content-start">
                        <a href="{{ post.url }}" class="news-item d-block">
                        <div class="justify-content-between align-items-center d-flex">
                            <div class="news-title">
                                <div>「{{ post.title }}」を投稿しました。</div>
                                {% if post.tag == 'nazo' %}
                                    <span class="badge bg-secondary">Nazo</span>
                                {% elsif post.tag == 'minecraft' %}
                                    <span class="badge bg-secondary">Minecraft</span>
                                {% endif %}
                            </div>
                            <!-- <a href="{{ site.url }}{{ post.url }}" class="">Show more <i class="fa-solid fa-arrow-right"></i></a> -->
                            <i class="fa-solid fa-arrow-right fa-lg"></i>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>
                    <i class="fa-brands fa-x-twitter"></i>でも活動しています。<br>
                    ぜひフォローしてください！
                </h3>
                <div class="py-3">
                    {% include twitter-timeline.html %}
                </div>
            </div>
        </div>
    </div>
</section>
