---
layout: default
title: Atelier NZML - Nazo
menu: 謎解き
css: ['nazoml.css']
---
<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NaZoMLプロジェクト (謎解き)</h1>
                    <div id="jumbotron-meta-info">
                        毎週金曜日に謎解き問題を投稿します。<br>
                        ヒントなしで解けたらすごい！
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% assign nazo_posts = site.posts | where_exp: 'post', 'post.path contains "nazo/"' %}
{% assign latest_post = nazo_posts | first %}
<section id="newNazo" class="new-nazo-section content py-3">
    <div class="new-nazo-container">
        <div class="pb-1">
            <h1 class="text-center">今週のNAZO<span style="font-size: 18px; color: #333; margin-left: 4px;">({{ latest_post.date | date: "%Y/%m/%d" }}更新)</span></h1>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{ site.url }}{{ latest_post.url }}" class="new-nazo-link">
                <img class="new-nazo-img" src="https://lh3.googleusercontent.com/d/{{ latest_post.img_id }}" onerror="this.src='https://drive.google.com/uc?export=view&id={{ latest_post.img_id }}';" alt="謎" />
            </a>
        </div>
        <div class="text-center mt-1">
            <a href="{{ site.url }}{{ latest_post.url }}" class="new-nazo-link">NAZOの詳細ページへ&nbsp;<i class="fa-solid fa-angles-right"></i></a>
        </div>
    </div>
</section>

{% assign event_posts = site.posts | where_exp: 'post', 'post.path contains "events/"' %}
{% if event_posts.size > 0 %}
<section class="content py-3">
    <div class="container mb-2">
        <div class="section-title">イベント</div>
        <div class="py-3 px-4 d-flex justify-content-center">
            <div class="recent-post-list scroll-horizontal">
                {% for post in event_posts %}
                    <a href="{{ site.url }}{{ post.url }}" class="post-card mb-1">
                        <div class="text-center post-img-holder">
                        <img class="post-img" src="{{ post.img_url }}" alt="{{ post.title }}" />
                        </div>
                        <div class="post-list-title card-title">
                            <p class="post-date">
                                {{ post.date | date: "%Y/%m/%d" }}
                            </p>
                            <p class="card-htitle">
                                {{ post.title }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<section id="recentNazo" class="content py-3">
    <div class="container recent-nazo-container mb-2">
        <div class="section-title">最近投稿したNAZO</div>
        <div class="py-3 px-4 d-flex justify-content-center">
            <div class="recent-post-list scroll-horizontal">
                {% for post in nazo_posts offset: 1 limit: 5 %}
                <a href="{{ site.url }}{{ post.url }}" class="post-card mb-1">
                    <div class="text-center post-img-holder">
                    <img class="post-img" src="https://lh3.googleusercontent.com/d/{{ post.img_id }}" onerror="this.src='https://drive.google.com/uc?export=view&id={{ post.img_id }}';" alt="謎" />
                    </div>
                    <div class="post-list-title card-title">
                        <p class="post-date">
                            {{ post.date | date: "%Y/%m/%d" }}
                        </p>
                        <p class="card-htitle">
                            {{ post.title }}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="container px-4 d-flex justify-content-end">
            <a class="bordered-btn" href="{{ site.url }}/nazolist">NAZOの一覧を見る</a>
        </div>
    </div>
</section>
