---
layout: default
menu: NaZoML
css: ['nazoml.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NaZoML</h1>
                    <div id="jumbotron-meta-info">
                        謎解き問題を投稿します。<br>
                        ヒントなしで解けたらすごい！
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newNazo" class="new-nazo-section content py-3">
    <div class="pb-1">
        <h1 class="text-center">今週のNAZO</h1>
    </div>
    {% assign nazo_posts = site.posts | where_exp: 'post', 'post.path contains "nazo"' %}
    {% for post in nazo_posts limit: 1 %}
    <div class="d-flex justify-content-center">
        <img class="new-nazo-img" src="{{ post.img_url }}" />
    </div>
    <div class="text-center">
        <a href="{{ site.url }}{{ post.url }}" class="new-nazo-link">NAZOの詳細ページへ&nbsp;<i class="fa-solid fa-angles-right"></i></a>
    </div>
    {% endfor %}
</section>
<section id="recentNazo" class="content py-3">
    <div class="pb-1">
        <h1 class="text-center">最近投稿したNAZO</h1>
    </div>
    <div class="py-3 container d-flex justify-content-center">
        <div class="recent-post-list">
            
            {% for post in nazo_posts offset: 1 limit: 5 %}
            <a href="{{ site.url }}{{ post.url }}" class="post-card mb-1">
                <div class="text-center post-img-holder">
                    <img class="post-img" src="{{ post.img_url }}" alt="謎" />
                </div>
                <div class="post-list-title card-title">
                    <p class="post-date">
                        {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                    <p class="card-htitle">
                        {{ post.title }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="container px-4 d-flex justify-content-end">
        <a class="bordered-btn" href="{{ site.url }}/nazolist">NAZOの一覧を見る</a>
    </div>
</section>

<section id="extraInfo" class="extra-info-section py-3">
    <div class="container d-flex justify-content-center">
        <div class="row w-100">
            <div class="col-12 col-md-8">
    
            </div>
            <div class="col-12 col-md-4">
                <h3>
                    Xでも謎を投稿しています<br>
                    ぜひフォローしてください！
                </h3>
                <div class="py-3">
                    {% include twitter-timeline.html %}
                </div>
            </div>
        </div>
    </div>
</section>