<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">Minecraft</h1>
                    <div id="jumbotron-meta-info">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content container">
    <div class="py-3">
        <div class="d-flex justify-content-end">
            <a id="filterBtn" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="fa-solid fa-filter"></i> 絞り込み</a>
        </div>
        <div class="p-3 link-list">
            <div id="minecraftPostList" class="post-list">
                <div id="mapNotFound" class="no-data w-100 text-center" style="display: none;">
                    マップが見つかりませんでした
                </div>
            </div>
        </div>
        <div id="minecraftPagination" class="d-flex justify-content-center"></div>
    </div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalStaticBackdropLabel">絞り込み</h5>
                    <button type="button" class="btn btn-outline-secondary rounded-circle" data-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg"></i></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-1">
                        <label class="form-label">難易度</label>
                        <select name="difficulty" class="form-select" aria-label="difficulty select">
                            <option value="">指定なし</option>
                            {% for difficulty in (1..5) %}
                            <option value="{{ difficulty }}">
                                {% for _ in (1..difficulty) %}
                                ★
                                {% endfor %}
                                {% for _ in (difficulty..4) %}
                                ☆
                                {% endfor %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label class="form-label">推奨プレイ人数</label>
                        <select name="players" class="form-select" aria-label="difficulty select">
                            <option value="">指定なし</option>
                            {% for min_players in (1..4) %}
                            <option value="{{ min_players }}">{{ min_players }}~{{ min_players | plus: 3 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">キーワード</label>
                        <input name="kwd" type="text" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/minecraft" class="btn btn-outline-danger">絞り込み解除</a>
                    <button type="submit" name="" class="btn btn-primary">絞り込む</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="minecraftPostData" class="d-none">
    {% assign minecraft_posts = site.posts | where_exp: 'post', 'post.path contains "minecraft/"' %}
    {{ minecraft_posts | jsonify }}
</div>
<script type="text/javascript" src="/assets/js/minecraft.js"></script>