<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NaZoML</h1>
                    <div id="jumbotron-meta-info">
                        定期的に謎解き問題を投稿します。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="content container">
    <div class="row py-3">
        <div class="col-md-8">
            <div class="py-3">
                <div class="post-list">
                {% for post in site.posts %}
                    {% if post.path contains 'nazo' %}
                    <div class="card post-list-item mb-1">
                        <div class="card-body">
                            <h2 class="post-list-title card-title">
                                <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            </h2>
                            <p class="post-list-description card-text">
                                {{ post.excerpt | strip_html | strip }}
                            </p>
                            <p class="post-list-meta">
                                <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="py-3">
                {% include twitter-timeline.html %}
            </div>
        </div>
    </div>
</div>
<div>

</div>
