<section class="jumbotron-wrapper d-none">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NaZoML</h1>
                    <div id="jumbotron-meta-info">
                        定期的に謎解き問題を投稿します。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="nazo-list container" style="padding-top: 120px;">
    <h3 class="px-2">NAZO一覧</h3>
    <div class="row py-3">
        <div class="py-3">
            <div id="nazoPostList" class="post-list">
            </div>
        </div>
        <div id="nazoPagination" class="d-flex justify-content-center"></div>
    </div>
</div>

<div id="postData" class="d-none">
    {% assign nazo_posts = site.posts | where_exp: 'post', 'post.path contains "nazo"' %}
    {{ nazo_posts | jsonify }}
</div>
<script type="text/javascript" src="/assets/js/nazoml.js"></script>