<section class="jumbotron-wrapper d-none">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NaZoML</h1>
                    <div id="jumbotron-meta-info">
                        定期的に謎解き問題を投稿します。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="nazo-list container" style="padding-top: 120px;">
    <h3 class="px-2">NAZO一覧</h3>
    <div class="py-3 d-flex flex-wrap">
        <a href="/nazolist" class="btn btn-outline-secondary filter-btn" data-filtername="all">全て</a>
        {% for difficulty in (1..5) %}
        <a href="/nazolist?difficulty={{ difficulty }}" class="btn btn-outline-secondary filter-btn" data-filtername="difficulty-{{ difficulty }}">
            {% for _ in (1..difficulty) %}
            <i class="fa-solid fa-star"></i>
            {% endfor %}
            {% for _ in (difficulty..4) %}
            <i class="fa-regular fa-star"></i>
            {% endfor %}
        </a>
        {% endfor %}
    </div>
    <div class="row py-3">
        <div class="py-3">
            <div id="nazoPostList" class="post-list">
                <div id="nazoNotFound" class="no-data w-100 text-center" style="display: none;">
                    NAZOが見つかりませんでした
                </div>
            </div>
        </div>
        <div id="nazoPagination" class="d-flex justify-content-center"></div>
    </div>
</div>


<div id="postData" class="d-none">
{% assign nazo_posts = site.posts | where_exp: 'post', 'post.path contains "nazo/"' %}
{% capture nazo_posts_json %}
[{% for post in nazo_posts %}
{
    "url": "{{ post.url }}",
    "date": "{{ post.date }}",
    "title": "{{ post.title }}",
    "difficulty": {{ post.difficulty }},
    "img_id": "{{ post.img_id }}",
    "categories": "{{ post.categories | join "," }}"
}{% unless forloop.last %},{% endunless %}
{% endfor %}]
{% endcapture %}
{{ nazo_posts_json }}
</div>
<script type="text/javascript" src="/assets/js/nazoml.js"></script>