<section class="jumbotron-wrapper">
    <div class="jumbotron-img">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbotron-content">
                    <h1 class="fw-bold">NZMLyNx</h1>
                    <div id="jumbotron-meta-info">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content container">
    <div class="py-3">
        <nav class="nav nav-tabs" role="tablist">
            <a class="nav-link active" data-bs-toggle="tab" href="#allLinksTab" role="tab" aria-selected="true">全て</a>
            <a class="nav-link" data-bs-toggle="tab" href="#mathLinksTab" role="tab" aria-selected="false">数学解説動画</a>
            <a class="nav-link" data-bs-toggle="tab" href="#otherLinksTab" role="tab">その他</a>
        </nav>
        <div class="tab-content">
            {% assign links = site.posts | where_exp: 'post', 'post.path contains "nzmlynx/"' %}
            <div class="tab-pane fade show active" id="allLinksTab" role="tabpanel">
                <div class="p-3 link-list row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                    {% for post in links %}
                    <div class="col mb-3">
                        <div>{{ post.content }}</div>
                        <span>{{ post.title }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="mathLinksTab" role="tabpanel">
                <div class="p-3 link-list"></div>
            </div>
            <div class="tab-pane fade" id="otherLinksTab" role="tabpanel">
                <div class="p-3 link-list"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/nzmlynx.js"></script>