.jumbotron-img {
    background: #0c92ff;
}

.title-col {
  font-size: 20px;
  font-weight: bold;
  min-width: 170px;
}

.content-col {
  font-size: 16px;
  min-width: 300px;
}

.mt40 {
    margin-top: 40px !important; }

.page_style01{
  font-size: 18px;
  font-size: 1.8rem;
}

.page_style01 .p01_tit{width:170px; float: left; font-weight: bold;}
.page_style01 .p01_txt{width: 420px; float: left;}
.p01_txtb{font-weight: bold;}

.clearfix {
    *zoom: 1; }
    .clearfix:after {
      content: ".";
      display: block;
      clear: both;
      height: 0;
      visibility: hidden; 
    }

#style-eventlist .ttl {
padding: 10px 0;
} 

#style-eventlist .page_style01 { margin:20px 0;}
#style-eventlist .page_style01 .p01_tit {
  padding: 5px 0;
  background-color: #ededed;
  font-weight: normal;
}

#style-eventlist .page_style01 .p01_txt {
    margin: 5px 0;
  }
  #style-eventlist .p01_txtb {
    font-weight: normal;
  }

#style-eventlist .page_style01 .p01_tit{width: 20%; float: left; text-align: center; font-size:90%;}
#style-eventlist .page_style01 .p01_txt{width: calc(80% - 10px); float: left; padding-left:10px;}

