.jumbotron-img {
    background: #0c92ff;
}

.page_style01{
    font-size: 18px;
  font-size: 1.8rem;
}

.page_style01 .p01_tit{width:170px; float: left; font-weight: bold;}
.page_style01 .p01_txt{width: 420px; float: left;}
.p01_txtb{font-weight: bold;}
