* {
    margin: 0;
    padding: 0;
    font-family: "M PLUS Rounded 1c", "Nunito Sans", sans-serif;
}

.raw-text {
    white-space: pre-wrap;
    margin: 0;
}

/** Header **/
.site-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0 !important;
    right: 0;
    z-index: 103;

    color: #000;
    background: #fff;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site-header #site-header-brand {
    color: #2e2e2e;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
}

.header-logo {
    height: 60px;
}


.site-header{
    color: #333;
    background: #fff;
}

.site-header-nav-item {
    color: #333;
    display: inline-block;
    padding: 10px 10px 6px 10px;
    margin-left: 1.25rem;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.site-header-nav-item:not(.selected):hover {
    color: #777;
    border-bottom: 3px solid #ddd;
}

.site-header-nav-item.selected {
    color: #333;
    border-bottom: 3px solid #333;
}

.header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s;
}

.nav-items {
    margin-top: 18px;
    padding: 0;
    list-style: none;
    
}

.nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    font-size: 20px;
    margin-bottom: 24px;
    text-decoration: none;
}

.nav-items__item:last-child a {
    margin-bottom: 0;
}

/******* Hamburger Menu *******/

.header-hamburger {
    width: 40px;
    height: 100%;
}

.hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
}

.hamburger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 8px 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
    transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

/******* Scroll Start *******/
.site-header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.site-header.site-header-nav-scrolled {
    margin: 0;
    background-color: white;

    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/******* Scroll End *******/

/******* Scroll Start on the phone *******/
.site-header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.site-header.site-header-nav-scrolled-ph {
    margin-top: -160px;

    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/******* Scroll End *******/

/** Jumbotron **/
.jumbotron-wrapper {
    background: #272538;
    padding: 0 30px;
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}



/** Footer **/
.site-footer{
    position:relative;
    margin-top:40px;
    padding:40px 0;
    font-size:12px;
    line-height:1.5;
    color:#777;
    border-top:2px solid #eee
}


/** Post List **/
.post-list {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.post-card {
    display: inline-block;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    width: 80%;
    max-width: 400px;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
    padding: 0;
    cursor: pointer;
    margin-bottom: 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 8px;
}
.post-card.minecraft {
    max-width: 350px;
}

.post-card .post-img{
    /* width: 100%; */
    max-width: 100%;
    max-height: 200px;
    /* border-radius: 5px 5px 0 0; */
}

.post-card .post-img-holder {
    background: rgba(0,0,0,0.9);
    height: 200px;
    /* padding-bottom: 57%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.post-card .post-img-holder img {
    transition: all 0.1s 0s ease-in;
}
.post-card:hover > .post-img-holder img {
    transform: scale(1.05);
}
.post-card .card-title {
    background: #ffffff;
    padding: 8px 18px 14px;
    position: relative;
    z-index: 0;
    border-radius: 0 0 5px 5px;
}
.post-card .card-title p {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin: 6px 0 3px;
    padding: 0;
    line-height: 1.56;
    color: #555;
}

.post-card .card-title .card-htitle {
    font-size: 24px;
}

.post-card .card-title .post-date {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    font-size: 0.85rem;
    justify-content: space-between;
    letter-spacing: 0.02rem;
    color: #b5b5b5;
    position: relative;
}
.post-card .card-title .post-date .players {
    font-size: 0.85rem;
    color: #b5b5b5;
    margin: 0
}

@media screen and (max-width: 767px) {
    .jumbotron-wrapper {
        padding: 0;
    }
    .post-list {
        flex-direction: column;
    }
    .post-card {
        width: 100%;
    }
}

.post-list-item {
    position: relative;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.post-list-item .post-img {
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    margin: auto;
    border: 1px solid #ddd;
}

.post-list-title a {
    text-decoration: none;
}

.post-list-description {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    color: #666;
}

.post-list-meta {
    margin-top: 8px;
    margin-bottom: 0;
    color: #888;
}

.post-list-meta, .post-list-meta.octicon {
    font-size: 18px;
}

.geopattern {
    background-size: contain; /* To fix strange behavior when zoom in/out */
}

.sidebar-title {
    text-align: center;
}

.bordered-btn {
    padding: 8px 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    text-decoration: none;
}
.bordered-btn:hover {
    background-color: #eee;
    color: #333;
}

.click-to-expand-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.badge {
    font-size: 14px;
}

.bg-nazo {
    background-color: #7952b3 !important;
    color: #fff;
}

.bg-minecraft {
    background-color: #11BF6B !important;
    color: #fff;
}

.bg-lynx {
    background-color: #23B7E8 !important;
    color: #fff;
}