/** Only for index.html **/

.jumbotron {
    background: #3E3B59;
}



.recent-news .news-item {
    width: 100%;
    max-width: 800px;
    border: 2px solid #777;
    padding: 8px 16px;
    margin: 8px 0;
    text-decoration: none;
    color: #333;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.recent-news .news-item::after {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.recent-news .news-item:hover {
    color: #fff;
}

.recent-news .news-item:hover::after {
    transform: scale(1, 1);
}

.news-item .news-title {
    font-size: 24px;
}

