/** Only for index.html **/

.jumbotron {
    background: #3E3B59;
}



.recent-news .news-item {
    width: 100%;
    max-width: 800px;
    border: 1px solid #333;
    padding: 8px 16px;
    margin: 8px 0;
}
.news-item .news-title {
    font-size: 24px;
}

