---
layout: default
title: page.title
css: ['escape-game.css']
js: ['escape-game.js']
---

<div style="padding-top: 100px;">
    <div class="game-title">
        <h2>{{ page.title }}</h2>
    </div>
</div>
<div id="game-container">
    <div class="scene-image"><img id="image" src="" /></div>
    <div class="px-3 py-2">
        <div id="story"></div>
        <div id="question" class="fw-bold fs-3"></div>
    </div>
    <div id="choices"></div>
</div>
<input id="scenarioPath" type="hidden" value="/data/escape_scenario/{{ page.scenario_id }}.json?ts=20240727" />
<script type="text/javascript" src="/assets/js/escape-game.js"></script>