---
layout: default
title: page.title
css: ['post.css']
---
<div class="post container" style="padding-top: 120px;">
    <div class="my-3">
        <a class="bordered-btn" href="{{ site.url }}/nazolist"><i class="fa-solid fa-angles-left"></i>&nbsp;一覧に戻る</a>
    </div>
    <div class="nazo-header d-flex justify-content-start align-items-end">
        <div class="nazo-title me-3">
            {{ page.title }} 
        </div>
        <div class="post-date">
            ({{ page.date | date: "%Y/%m/%d" }})
        </div>
    </div>

    <div class="nazo-content my-3 d-flex justify-content-center">
        <img class="nazo-img" src="https://lh3.googleusercontent.com/d/{{ page.img_id }}" onerror="this.src='https://drive.google.com/uc?export=view&id={{ page.img_id }}';" alt="謎" />
    </div>

    <div class="px-4 pt-2">
        <label for="userAnswer">答えを入力</label>
        <div class="d-flex">
            <input type="text" id="userAnswerInput" class="form-control me-1" />
            <button type="button" id="answerSubmitBtn" class="btn btn-success" style="width: 80px;">送信</button>
        </div>
        <div id="answerCorrect" class="result text-danger text-center" style="display: none;">おめでとう、正解！</div>
        <div id="answerIncorrect" class="result text-primary text-center" style="display: none;">残念、不正解。</div>
    </div>

    <div class="px-4 pb-4 pt-2">
        <div class="my-3">
            {% if page.hint1 != nil %}
            <details class="details nazo-hint">
                <summary class="details-summary">ヒント①</summary>
                <p class="details-content">
                    {{ page.hint1 }}
                </p>
            </details>
            {% endif %}
            
            {% if page.hint2 != nil %}
            <details class="details nazo-hint">
                <summary class="details-summary">ヒント②</summary>
                <p class="details-content">
                    {{ page.hint2 }}
                </p>
            </details>
            {% endif %}
        
            {% if page.hint3 != nil %}
            <details class="details last-detail nazo-hint">
                <summary class="details-summary">ヒント③</summary>
                <p class="details-content">
                    {{ page.hint3 }}
                </p>
            </details>
            {% endif %}
        </div>

        <div class="answer" data-answer="{{ page.answer }}">
            <details class="details nazo-answer">
                <summary class="details-summary">答え</summary>
                <div class="details-content">
                    <h3>{{ page.answer }}</h3>
                    <p>
                        {{ page.explanation }}
                        {{ content }}
                    </p>
                </div>
            </details>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/nazo-post.js"></script>